.gridWrapper {
  overflow: hidden;
  max-width: 100%;
}

.gridContainer {
  display: grid;
  gap: 70px;
  grid-auto-rows: 180px;
  grid-template-columns: repeat(9, 180px);
  grid-template-rows: repeat(12, 180px);
  flex: 0 0 auto;
  width: 100%;
  justify-content: center;
}

.grid2 {
  grid-column: auto / span 2;
  border-radius: 32px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.grid1 {
  grid-column: auto / span 1;
  border-radius: 32px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.grid4 {
  grid-area: auto / auto / span 2 / span 2;
  border-radius: 32px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

@media (max-width: 600px) {
  .gridContainer {
    gap: 32px;
    grid-auto-rows: 120px;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(12, 120px);
  }
}
