@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 200vh;
  width: 100%;
  background: #000000;
  color: white;
  font-family: "DM Sans", sans-serif;
}

.heading {
  font-size: 3vw !important;
}

.project img {
  transition: .5s cubic-bezier(0,.69,.16,1.01);
}

.project:hover img {
  transform: scale(1.05);
}

@media (max-width: 1000px) {
  .heading {
    font-size: 36px !important;
    line-height: 44px;
  }
}